{% extends 'base.html.twig' %}

{% block subTitle %}Person index{% endblock %}

{% block content %}
    <h1>Person List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.birthDay ? person.birthDay|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a class="btn btn-dark" href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                    {{ include('person/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('person_new') }}">Create new</a>
{% endblock %}
